@{
    ViewBag.Title = "请假须知";
}

<div class="panel panel-default ex-card">
    <div class="panel-heading ex-card-header">
        <h2>请假须知</h2>
    </div>
    <div class="panel-body ex-card-body">
        <ul>
            <li>请假一天及以上须经肖书记审批</li>
            <li>本假条一式两份，一份交学习委员，另一份交学工办10507，以备查。请假一天及以上者，假期结束后一天以前需到10507销假，不销假者按旷课处理。</li>
            <li>在“请假时间”一栏中注明请假的起止时间，根据自己请假实际情况选填，如：2012年2月27日星期一第三节到第八节，或者2012年2月27日星期一到2012年2月29日星期三，共计3天。</li>
            <li>请病假2天以上需附病例复印件；请假回家者需在请假前与家长联系，征得家长同意方可请假；因公因事请假，应有必要的证明，由本人亲自办理。</li>
            <li>对无故旷课学生将严格按照《成都学院（成都大学）学生违纪处分办法》规定执行。</li>
            <li>请假一天及以上须经肖书记审批</li>
        </ul>
        <div class="col-md-offset-5 col-md-2">
            @Html.ActionLink("我知道了", "Apply", "", new { @class = "btn btn-success btn-block btn-lg" })
        </div>

    </div>
</div>

