@model StudentOnlineLeaveSystem.Models.Leave

    @{
        ViewBag.Title = "Success";
    }


            <h3><span class="glyphicon glyphicon-ok"></span> 提交成功！</h3>

        <p class="bg-success ex-card">老师将会审批你的请假申请，请耐心等待。</p>


