@model StudentOnlineLeaveSystem.Models.AppUser
@{
    ViewBag.Title = "删除用户";
}

<h2>删除用户</h2>
<h3>您确认要删除这个用户吗？？</h3>
<div>
    <h4>用户</h4>
    <hr />
    <dl class=" dl-horizontal ">
        <dt>
            @Html.Label("用户名称：")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="删除用户" class=" btn btn-default" /> |
            @Html.ActionLink("返回用户列表", "Index")
        </div>
    }
</div>